<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.dwdatalink.mapper.RunningServerMapper" >
  <resultMap id="BaseResultMap" type="com.yh.dwdatalink.domain.RunningServer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="task_code" property="taskCode" jdbcType="VARCHAR" />
    <result column="service_ip" property="serviceIp" jdbcType="VARCHAR" />
    <result column="run_begin" property="runBegin" jdbcType="TIMESTAMP" />
    <result column="run_end" property="runEnd" jdbcType="TIMESTAMP" />
    <result column="run_state" property="runState" jdbcType="VARCHAR" />
    <result column="service_desc" property="serviceDesc" jdbcType="VARCHAR" />
    <result column="run_log" property="runLog" jdbcType="VARCHAR" />
    <result column="is_used" property="isUsed" jdbcType="INTEGER" />
    <result column="env" property="env" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="sys_create" property="sysCreate" jdbcType="TIMESTAMP" />
    <result column="sys_update" property="sysUpdate" jdbcType="TIMESTAMP" />
    <result column="sys_oper" property="sysOper" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yh.dwdatalink.domain.RunningServerWithBLOBs" extends="BaseResultMap" >
    <result column="service_info" property="serviceInfo" jdbcType="LONGVARCHAR" />
    <result column="run_info" property="runInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_code, service_ip, run_begin, run_end, run_state, service_desc, run_log, 
    is_used, env, is_deleted, owner, sys_create, sys_update, sys_oper
  </sql>
  <sql id="Blob_Column_List" >
    service_info, run_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from data_link_service_node_run
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update data_link_service_node_run
     is_deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yh.dwdatalink.domain.RunningServerWithBLOBs" >
    insert into data_link_service_node_run (id, task_code, service_ip, 
      run_begin, run_end, run_state, 
      service_desc, run_log, is_used, 
      env, is_deleted, owner, 
      sys_create, sys_update, sys_oper, 
      service_info, run_info)
    values (#{id,jdbcType=BIGINT}, #{taskCode,jdbcType=VARCHAR}, #{serviceIp,jdbcType=VARCHAR}, 
      #{runBegin,jdbcType=TIMESTAMP}, #{runEnd,jdbcType=TIMESTAMP}, #{runState,jdbcType=VARCHAR}, 
      #{serviceDesc,jdbcType=VARCHAR}, #{runLog,jdbcType=VARCHAR}, #{isUsed,jdbcType=INTEGER}, 
      #{env,jdbcType=VARCHAR}, 0, #{owner,jdbcType=VARCHAR},
      #{sysCreate,jdbcType=TIMESTAMP}, #{sysUpdate,jdbcType=TIMESTAMP}, #{sysOper,jdbcType=VARCHAR}, 
      #{serviceInfo,jdbcType=LONGVARCHAR}, #{runInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yh.dwdatalink.domain.RunningServerWithBLOBs" >
    insert into data_link_service_node_run
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskCode != null" >
        task_code,
      </if>
      <if test="serviceIp != null" >
        service_ip,
      </if>
      <if test="runBegin != null" >
        run_begin,
      </if>
      <if test="runEnd != null" >
        run_end,
      </if>
      <if test="runState != null" >
        run_state,
      </if>
      <if test="serviceDesc != null" >
        service_desc,
      </if>
      <if test="runLog != null" >
        run_log,
      </if>
      <if test="isUsed != null" >
        is_used,
      </if>
      <if test="env != null" >
        env,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="sysCreate != null" >
        sys_create,
      </if>
      <if test="sysUpdate != null" >
        sys_update,
      </if>
      <if test="sysOper != null" >
        sys_oper,
      </if>
      <if test="serviceInfo != null" >
        service_info,
      </if>
      <if test="runInfo != null" >
        run_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskCode != null" >
        #{taskCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceIp != null" >
        #{serviceIp,jdbcType=VARCHAR},
      </if>
      <if test="runBegin != null" >
        #{runBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="runEnd != null" >
        #{runEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="runState != null" >
        #{runState,jdbcType=VARCHAR},
      </if>
      <if test="serviceDesc != null" >
        #{serviceDesc,jdbcType=VARCHAR},
      </if>
      <if test="runLog != null" >
        #{runLog,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null" >
        #{isUsed,jdbcType=INTEGER},
      </if>
      <if test="env != null" >
        #{env,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        0,
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="sysCreate != null" >
        #{sysCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdate != null" >
        #{sysUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOper != null" >
        #{sysOper,jdbcType=VARCHAR},
      </if>
      <if test="serviceInfo != null" >
        #{serviceInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="runInfo != null" >
        #{runInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yh.dwdatalink.domain.RunningServerWithBLOBs" >
    update data_link_service_node_run
    <set >
      <if test="taskCode != null" >
        task_code = #{taskCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceIp != null" >
        service_ip = #{serviceIp,jdbcType=VARCHAR},
      </if>
      <if test="runBegin != null" >
        run_begin = #{runBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="runEnd != null" >
        run_end = #{runEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="runState != null" >
        run_state = #{runState,jdbcType=VARCHAR},
      </if>
      <if test="serviceDesc != null" >
        service_desc = #{serviceDesc,jdbcType=VARCHAR},
      </if>
      <if test="runLog != null" >
        run_log = #{runLog,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null" >
        is_used = #{isUsed,jdbcType=INTEGER},
      </if>
      <if test="env != null" >
        env = #{env,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="sysCreate != null" >
        sys_create = #{sysCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdate != null" >
        sys_update = #{sysUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOper != null" >
        sys_oper = #{sysOper,jdbcType=VARCHAR},
      </if>
      <if test="serviceInfo != null" >
        service_info = #{serviceInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="runInfo != null" >
        run_info = #{runInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yh.dwdatalink.domain.RunningServerWithBLOBs" >
    update data_link_service_node_run
    set task_code = #{taskCode,jdbcType=VARCHAR},
      service_ip = #{serviceIp,jdbcType=VARCHAR},
      run_begin = #{runBegin,jdbcType=TIMESTAMP},
      run_end = #{runEnd,jdbcType=TIMESTAMP},
      run_state = #{runState,jdbcType=VARCHAR},
      service_desc = #{serviceDesc,jdbcType=VARCHAR},
      run_log = #{runLog,jdbcType=VARCHAR},
      is_used = #{isUsed,jdbcType=INTEGER},
      env = #{env,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      owner = #{owner,jdbcType=VARCHAR},
      sys_create = #{sysCreate,jdbcType=TIMESTAMP},
      sys_update = #{sysUpdate,jdbcType=TIMESTAMP},
      sys_oper = #{sysOper,jdbcType=VARCHAR},
      service_info = #{serviceInfo,jdbcType=LONGVARCHAR},
      run_info = #{runInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.dwdatalink.domain.RunningServer" >
    update data_link_service_node_run
    set task_code = #{taskCode,jdbcType=VARCHAR},
      service_ip = #{serviceIp,jdbcType=VARCHAR},
      run_begin = #{runBegin,jdbcType=TIMESTAMP},
      run_end = #{runEnd,jdbcType=TIMESTAMP},
      run_state = #{runState,jdbcType=VARCHAR},
      service_desc = #{serviceDesc,jdbcType=VARCHAR},
      run_log = #{runLog,jdbcType=VARCHAR},
      is_used = #{isUsed,jdbcType=INTEGER},
      env = #{env,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      owner = #{owner,jdbcType=VARCHAR},
      sys_create = #{sysCreate,jdbcType=TIMESTAMP},
      sys_update = #{sysUpdate,jdbcType=TIMESTAMP},
      sys_oper = #{sysOper,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>